<div id="loginlink" class="loginlink g-ib">
	<a href="#" class="loginlink-mask s-wea link" style="width: 119px;"></a>
	<span class="menu username username-hook">
		<i class="star g_icon star-hook"></i>
		<a id="loginlink-name" href="http://vip.hao123.com" class="name s-wea" alog-custom="ck_url:XzFAHD7HiD-DcWCBPjf1fWF7wDfvPY7awH-jwWmzPRPjwW6LPHcsnbmknYmlwbTqnic_ch-scWCBnHcsQWD4Pi34ra3YPBc_cMNzUaclcMILIz4CmytknWn8mvqVgatBQaFYpyd-Tv-MUBclnHczxf==,ck:1753.121.10985.747.27.671.234.1184">drivedreams</a>
		<i class="g-ib red-icon"></i>
		<i class="arrow g_icon arrow-hook"></i>
	</span>
	<div class="more" style="width: 119px; display: none;">
		<ul class="list">
			<li class=""><a class="g-ib vip vip-hook" href="http://vip.hao123.com">
			<i class="gift g_icon gift-hook"></i>
			VIP俱乐部</a></li>
			<li class=""><a class="g-ib yun yun-hook" href="https://pan.baidu.com/">百度云盘
				<i class="g-ib red-icon red-icon-on"></i></a>
			</li>
			<li class="">
				<a class="g-ib menu logout" href="/url/logout?gotourl?=http%3A%2F%2Fwww.hao123.com%2F&amp;c=443B2EDD67ABE9CF625CCF875202F13F" target="_self">退出</a>
			</li>
		</ul>
	</div>
</div>